.underline {
  .hover {
    transition: $animate;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 0px;
      height: 0.12em;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.3s;
      opacity: 0;
      background-color: lighten(#823541, 30%);
    }
    &.hover-1 {
      &:before,
      &:after {
        left: 0;
      }
    }
    &.hover-2 {
      &:before,
      &:after {
        right: 0;
      }
    }
    &.hover-3 {
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    &.hover-4 {
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
      &.hover-3,
      &.hover-4 {
        &:before,
        &:after {
          width: 50%;
        }
      }
    }
  }
}
