/* Color Theme Swatches in Hex */
$pink-dark-hex: #8c2e40;
$pink-light-hex: #f23558;
$grey-light-hex: #d9d7d8;
$grey-dark-hex: #595859;
$black-hex: #1f2326;

/* Color Theme Swatches in RGBA */
$pink-dark-rgba: rgba(140, 46, 64, 1);
$pink-light-rgba: rgba(242, 53, 88, 1);
$grey-light-rgba: rgba(217, 215, 216, 1);
$grey-dark-rgba: rgba(89, 88, 89, 1);
$black-rgba: rgba(31, 35, 38, 1);

$animate: all 0.2s ease-in-out;

$simplegradient: linear-gradient(
  180deg,
  var(--gradient-bg-rgba) 50%,
  var(--gradient-accent-rgba) 100%
);

$bcg-gradient: linear-gradient(
  180deg,
  var(--bg-primary) 50%,
  var(--gradient-accent-rgba) 100%
);

$rad-gradient: radial-gradient(
  var(--bg-primary) 30%,
  var(--gradient-accent-rgba) 100%
);

$futura: futura-pt, sans-serif;
